<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Casting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/casting/css/base.css">
    <link rel="stylesheet" href="/static/casting/css/vendor.css">
    <link rel="stylesheet" href="/static/casting/css/main.css">
    <link rel="stylesheet" href="/static/casting/css/nav.css">
    <link rel="stylesheet" href="/static/casting/css/animate.min.css">
    <link rel="stylesheet" href="/static/casting/css/swiper.min.css">

    <!-- script
    ================================================== -->
    <!-- Modernizr JS -->
	<script src="/static/casting/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/casting/js/respond.min.js"></script>
	<![endif]-->

    <script src="/static/casting/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">



</head>

<body>

    <div id="page">

        <!-- header
        ================================================== -->
        <header class="s-header">
            <nav class="cast-nav" role="navigation">
                <div id="navbar" class="text-center menu-1 menu-wrap">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                        <li><a href="#" data-nav-section="about">About</a></li>
                        <li><a href="#" data-nav-section="crew">Crew</a></li>
                        <li><a href="#" data-nav-section="casting">Casting</a></li>
                        <li><a href="#" data-nav-section="videos">Videos</a></li>
                        <li><a href="#" data-nav-section="photos">Photos</a></li>
                        <li><a href="#" data-nav-section="subscribe">Subscribe</a></li>
                        <li><a href="#" data-nav-section="social">Social updates</a></li>
                        <li><a href="#" data-nav-section="partners">Partners</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- home
        ================================================== -->
        <div data-section="home">
            <section class="s-home target-section" data-parallax="scroll" data-image-src="/static/casting/img/home_bg.jpg" data-position-y=top>

                <div class="overlay"></div>
                <div class="shadow-overlay"></div>

                <div class="home-content">
                    <div class="home-buttons">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 home-casting">
                                    <div class="home-content__buttons">
                                        <a href="#" data-nav-section="casting" class="btn btn--stroke">
                                            Go to the casting
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-3 home-news">
                                    <div class="home-content__buttons">
                                        <a href="#" data-nav-section="social" class="btn btn--stroke">
                                            News
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home-content__scroll">
                        <a href="#" data-nav-section="about">
                            <span>Scroll Down</span>
                        </a>
                    </div>

                </div> <!-- end home-content -->


                <ul class="home-social">
                    <li><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
                    <li><a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a></li>
                    <li><a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>
                    <li><a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a></li>
                </ul>
                <!-- end home-social -->

            </section> <!-- end s-home -->
        </div>


        <!-- about
        ================================================== -->
        <div data-section="about">
            <section class="s-about" data-parallax="scroll" data-image-src="/static/casting/img/about_bg.jpg">

                <div class="overlay"></div>
                <div class="shadow-overlay"></div>
                {% for post in poster %}
                    <div class="about-title container" data-aos="fade-up">
                        <div class="section-header">
                            <div class="col-full">
                                <p>{{ post.title }}</p>
                            </div>
                        </div> <!-- end section-header -->
                    </div>

                    <div class="about-info container" data-aos="fade-up">
                        <div class="row__divide-3">
                            <div class="about-poster">
                                <img src="/media/{{ post.photo }}" alt="">
                            </div>

                            <div class="about-desc">
                                <div class="col-full">
                                    <p>{{ post.about_info }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="about-title container" data-aos="fade-up">
                        <div class="section-header">
                            <div class="col-full">
                                <p>Title</p>
                            </div>
                        </div> <!-- end section-header -->
                    </div>
                    <div class="about-info container" data-aos="fade-up">
                        <div class="row__divide-3">
                            <div class="about-poster">
                                <img src="/media/photos/noimage.png" alt="">
                            </div>

                            <div class="about-desc">
                                <div class="col-full">
                                    <p>Text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </section> <!-- end s-about -->
        </div>

        <!-- crew
        ================================================== -->
        <div data-section="crew">
            <section class="s-crew">

                <div class="container section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead">Our crew</h3>
                        <h1 class="display-2">We work only with highly qualified crew</h1>
                    </div>
                </div> <!-- end section-header -->

                <div class="crew-list block-1-2 block-tab-full">
                    {% for worker in crew_list %}
                        <div class="crew-item" data-aos="fade-up">
                            <div class="crew-image">
                               <img src="/media/{{ worker.photo }}" alt="">
                            </div>
                            <div class="crew-text">
                                <div class="crew-position">
                                    {{ worker.position }}
                                </div>
                                <div class="crew-info">
                                    {{ worker.about_info }}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="crew-item" data-aos="fade-up">
                            <div class="crew-image">
                               <img src="/media/photos/noimage.png" alt="">
                            </div>
                            <div class="crew-text">
                                <div class="crew-position">Position</div>
                                <div class="crew-info">
                                    Text
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div> <!-- end crew-list -->

            </section> <!-- end s-crew -->
        </div>

        <!-- casting
        ================================================== -->
        <div data-section="casting">
            <section class="s-casting" data-parallax="scroll" data-image-src="/static/casting/img/hero-bg.jpg" data-position-y=top>

                <div class="overlay"></div>
                <div class="intro-wrap">

                    <div class="container section-header" data-aos="fade-up">
                        <div class="col-full">
                            <h1 class="display-2 display-2--light">Sign up for the casting</h1>
                        </div>
                    </div>

                    <div class="container casting-content" data-aos="fade-up">

                        <div class="casting-contact">

                            <h3 class="h6">Sign up form</h3>

                            <form name="contactForm" id="contactForm" method="POST" data-url="{% url 'casting' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="casting-row">
                                        <div class="form-field input-group input-group-icon">
                                            <input name="first_name" type="text" id="first_name" placeholder="Your First Name" minlength="2" class="full-width" required>
                                            <div class="input-icon"><i class="fa fa-user"></i></div>
                                        </div>
                                        <div class="form-field input-group input-group-icon">
                                            <input name="second_name" type="text" id="second_name" placeholder="Your Second Name" minlength="2"class="full-width" required>
                                            <div class="input-icon"><i class="fa fa-user"></i></div>
                                        </div>
                                    </div>
                                    <div class="casting-row">
                                        <div class="form-field input-group input-group-icon">
                                            <input name="email" type="email" id="email" placeholder="Your Email" class="full-width" required>
                                            <div class="input-icon"><i class="fa fa-envelope"></i></div>
                                        </div>
                                        <div class="form-field input-group input-group-icon">
                                            <input name="phone" type="text" id="phone" placeholder="Your Phone Number" class="full-width" required>
                                            <div class="input-icon"><i class="fa fa-phone"></i></div>
                                        </div>
                                    </div>
                                    <div class="casting-row">
                                        <div class="form-field input-group input-group-icon">
                                            <input name="age" type="date" id="age" placeholder="Your Date Of Birth" class="full-width" required>
                                            <div class="input-icon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        <div class="form-field input-group input-group-icon">
                                            <input name="city" type="text" id="city" placeholder="Your City" class="full-width" required>
                                            <div class="input-icon"><i class="fa fa-home"></i></div>
                                        </div>
                                    </div>
                                    <div class="casting-row-inline">
                                        <div class="casting-row-group">
                                            <div class="input-group">
                                                <input type="radio" name="gender" value="male" id="gender-male" checked>
                                                <label for="gender-male">Male</label>
                                                <input type="radio" name="gender" value="female" id="gender-female">
                                                <label for="gender-female">Female</label>
                                            </div>
                                        </div>
                                        <div class="casting-row-group">
                                            <div class="input-group">
                                                <input type="radio" name="prof" value="amateur" id="amateur" checked>
                                                <label for="amateur">Amateur</label>
                                                <input type="radio" name="prof" value="professional" id="professional">
                                                <label for="professional">Professional</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field input-group input-group-icon">
                                        <textarea name="experience" id="experience" placeholder="Your Experience" rows="10" cols="50" class="full-width"></textarea>
                                        <div class="input-icon"><i class="fa fa-align-justify"></i></div>
                                    </div>
                                    <div class="casting-row-inline">
                                        <div class="casting-row-group">
                                            <div class="input-group">
                                                <p class="full-width">Grouping</p>
                                                <input type="radio" name="grouping" value="True" id="grouping_yes" checked>
                                                <label for="grouping_yes">Yes</label>
                                                <input type="radio" name="grouping" value="False" id="grouping_no">
                                                <label for="grouping_no">No</label>
                                            </div>
                                        </div>
                                        <div class="casting-row-group">
                                            <div class="input-group">
                                                <p class="full-width">Crowd Scene</p>
                                                <input type="radio" name="crowd_scene" value="True" id="crowd_scene_yes" checked>
                                                <label for="crowd_scene_yes">Yes</label>
                                                <input type="radio" name="crowd_scene" value="False" id="crowd_scene_no">
                                                <label for="crowd_scene_no">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field input-group input-group-icon">
                                        <textarea name="about_info" id="about_info" placeholder="About you" rows="10" cols="50" class="full-width"></textarea>
                                        <div class="input-icon"><i class="fa fa-align-justify"></i></div>
                                    </div>
                                    <!--<div class="form-field input-group">-->
                                        <!--<p class="full-width">Your Photo</p>-->
                                        <!--<input name="contact_image" type="file" id="contact_image" accept="image/*" class="full-width" multiple required>-->
                                    <!--</div>-->
                                    <div class="form-field input-group input-group-icon">
                                        <input name="video_url" type="url" id="video_url" placeholder="Url On Your Video" class="full-width">
                                        <div class="input-icon"><i class="fa fa-link"></i></div>
                                    </div>
                                    <div class="form-field">
                                        <button class="full-width btn--primary">Submit</button>
                                        <div class="cast-form submit-loader">
                                            <div class="text-loader">Sending...</div>
                                            <div class="s-loader">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>

                            <!-- casting-warning -->
                            <div class="cast-form message-warning">
                                Что-то пошло не так...
                            </div>

                            <!-- casting-success -->
                            <div class="cast-form message-success">
                                Ваша анкета принята на рассмотрение, после проверки модератором она будет отображена на сайте<br>
                            </div>

                        </div> <!-- end casting-primary -->

                        <div class="casting-table">
                            <div class="contact-info">

                                <h3 class="h6 hide-on-fullwidth">List users who've already signed up</h3>
                                    <div class="cast-table">
                                        <table id="get-all-info">
                                            <tbody>
                                                {% for person in person_list %}
                                                    <tr data-link="{% url 'person_list' %}" data-id="{{ person.id }}">
                                                        <td class="cast-td">
                                                            <img src="/media/photos/noimage.png" alt="">
                                                        </td>
                                                        <td class="cast-td">{{ person.first_name }}</td>
                                                        <td class="cast-td">{{ person.second_name }}</td>
                                                        <td class="cast-td">{{ person.city }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                            </div> <!-- end casting-info -->
                        </div> <!-- end casting-secondary -->
                        <div class="casting-container">
                            <div class="casting-person-info">
                                <span id='person-close'>x</span>
                                <div class="person-block">
                                    <div class="row__divide-3">
                                        <div class="person-avatar">
                                            <div class="w3-content">
                                                <img class="mySlides person-contact_image" src="">
                                            </div>
                                        </div>
                                        <div class="person-info">
                                            <p>{{ _('ФИО:') }} <span class="person-first_name"></span> <span class="person-second_name"></span></p>
                                            <p>{{ _('Email:') }} <span class="person-email"></span></p>
                                            <p>{{ _('Phone:') }} <span class="person-phone"></span></p>
                                            <p>{{ _('Date of birth:') }} <span class="person-age"></span></p>
                                            <p>{{ _('City:') }} <span class="person-city"></span></p>
                                            <p>{{ _('Gender:') }} <span class="person-gender"></span></p>
                                            <p>{{ _('Prof:') }} <span class="person-prof"></span></p>
                                            <p>{{ _('Experience:') }} <span class="person-experience"></span></p>
                                            <p>{{ _('Crowd scene:') }} <span class="person-crowd_scene"></span></p>
                                            <p>{{ _('Grouping:') }} <span class="person-grouping"></span></p>
                                            <p>{{ _('About info:') }} <span class="person-about_info"></span></p>
                                            <p>{{ _('Video url:') }} <span class="person-video_url"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end casting-content -->

                </div>
            </section> <!-- end s-casting -->
        </div>

        <!-- videos
        ================================================== -->
        <div data-section="videos">
            <section class="s-videos">

                <div class="intro-wrap">

                    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                        <div class="col-full">
                            <h1 class="display-2">Videos</h1>
                        </div>
                    </div> <!-- end section-header -->

                    <div class="film-featured-videos--desktop container" data-aos="fade-up">

                        <div class="col-block video-main">
                            <iframe class="main-youtube" data-youtube-id="" src="https://www.youtube.com/embed/qylb0dvPOf8?autoplay=0&amp;rel=0&amp;enablejsapi=1&amp;widgetid=1" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media"></iframe>
                        </div>
                        <div class="videos_social social-buttons">
                            <a id="facebook_share" href="" data-type="facebook" class="btn btn--facebook exit" data-share-type="facebook" target="_blank">
                                <span class="btn--left">
                                    <i class="fa fa-facebook"></i>Share
                                </span>
                            </a>
                            <div class="youtube-style">
                                <div class="g-ytsubscribe" data-channelid="UC6zZubfeysFoOGaqx9mG6ng" data-layout="default" data-count="default"></div>
                            </div>
                            <a id="twitter_share" href="" data-type="twitter" class="btn btn--twitter exit" data-share-type="twitter" target="_blank">
                                <span class="btn--left">
                                    <i class="fa fa-twitter"></i>Tweet
                                </span>
                            </a>
                        </div>
                        <div class="block-tab-full video-slideshow padding-video">
                            <div class="video-cont swiper-container">
                                <ul class="swiper-wrapper ">
                                    {% for video in youtube_list %}
                                        <li class="item swiper-slide youtube-child" data-youtube-id="{{ video.video_id }}">
                                            <div class="featured-content-img">
                                                <div class="featured-video">
                                                    <img class="video-image" src="https://img.youtube.com/vi/{{ video.video_id }}/0.jpg">
                                                    <img class="play-video" src="/static/casting/img/youtube-play.png">
                                                    <p class="video-title">{{ video.title }}</p>
                                                </div>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <li class="item swiper-slide youtube-child" data-youtube-id="">
                                            <div class="featured-content-img">
                                                <div class="featured-video">
                                                    <img class="video-image" src="https://img.youtube.com/vi/0.jpg">
                                                    <img class="play-video" src="/static/casting/img/youtube-play.png">
                                                    <p class="video-title">{{ video.title }}</p>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="video-prev swiper-button-prev"></div>
                            <div class="video-next swiper-button-next"></div>
                        </div>
                    </div>
                </div> <!-- end intro-wrap -->

            </section> <!-- end s-videos -->
        </div>

        <!-- photos
        ================================================== -->
        <div data-section="photos">
            <section class="s-photos">

                <div class="intro-wrap">

                    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                        <div class="col-full">
                            <h1 class="display-2 display-2--light">Photos</h1>
                        </div>
                    </div> <!-- end section-header -->

                    <div class="photo-cont swiper-container container">
                        <div id="photo-overlay"></div>
                            <div class="swiper-wrapper">
                                {% for photo in film_photo_list %}
                                    <div class="swiper-slide" data-aos="fade-up">
                                        <div class="item-folio">

                                            <div class="item-folio__thumb">
                                                <a href="/media/{{ photo.photo }}" id="thumb-link">
                                                    <img src="/media/{{ photo.photo }}" alt="">
                                                </a>
                                            </div>

                                            <div class="item-folio__text">
                                                <h3 class="item-folio__title">
                                                    {{ photo.title }}
                                                </h3>
                                            </div>

                                        </div>
                                    </div>
                                {%  endfor %}
                            </div>
                    </div> <!-- end photos-content -->
                </div> <!-- end intro-wrap -->
                <div class="photo-prev swiper-button-prev"></div>
                <div class="photo-next swiper-button-next"></div>

            </section> <!-- end s-photos -->
        </div>

        <!-- subscribe
        ================================================== -->
        <div data-section="subscribe">
            <section class="s-subscribe">

                <div class="row section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h1 class="display-2 display-2--light">Subscribe us</h1>
                    </div>
                </div> <!-- end section-header -->


                <div class="row clients-outer" data-aos="fade-up">

                    <div class="col-full">
                        <div class="subscribe-form">
                            <form name="mailForm" id="mailForm" method="POST" data-url="{% url 'subscribe' %}">
                                {% csrf_token %}
                                <div class="form-field input-group input-group-icon">
                                    <input name="subscribe-email" type="email" id="subscribe-email" placeholder="Your Email" class="full-width" required>
                                    <div class="input-icon"><i class="fa fa-envelope"></i></div>
                                </div>
                                <button class="full-width btn--primary">Submit</button>
                                <div class="sub-mail submit-loader">
                                        <div class="text-loader">Sending...</div>
                                        <div class="s-loader">
                                            <div class="bounce1"></div>
                                            <div class="bounce2"></div>
                                            <div class="bounce3"></div>
                                        </div>
                                </div>
                            </form>

                        <!-- casting-warning -->
                        <div class="sub-mail message-warning">
                            Что-то пошло не так...
                        </div>

                        <!-- casting-success -->
                        <div class="sub-mail message-success">
                            Подписка оформлена<br>
                        </div>

                        </div>
                    </div>
                </div>

            </section> <!-- end s-subscribe -->
        </div>

        <!-- social updates
        ================================================== -->
        <div data-section="social">
            <section class="s-social">

                <div class="intro-wrap">

                    <div class="row section-header has-bottom-sep" data-aos="fade-up">
                        <div class="col-full">
                            <h1 class="display-2 display-2--light">Social updates</h1>
                        </div>
                    </div> <!-- end section-header -->

                    <div class="row container social-twit">
                        <div class="col-block" data-aos="fade-up">
                            <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a>
                        </div>
                    </div>
                </div>

            </section> <!-- end s-about -->
        </div>

        <!-- partners
        ================================================== -->
        <div data-section="partners">
            <section class="s-clients">

                <div class="row section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead">Our Partners</h3>
                        <h1 class="display-2">We are glad to cooperate with all worthy companies.</h1>
                    </div>
                </div> <!-- end section-header -->

                <div class="row clients-outer" data-aos="fade-up">
                    <div class="col-full">
                        <div class="clients">

                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/apple.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/atom.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/blackberry.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/dropbox.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/envato.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/firefox.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/joomla.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/magento.png" /></a>

                        </div> <!-- end partners -->
                    </div> <!-- end col-full -->
                </div> <!-- end clients-outer -->

            </section> <!-- end s-partners -->
        </div>


        <!-- footer
        ================================================== -->
        <footer>
            <div class="container">
                <div class="footer-links">
                    <ul>
                        <li><a href="#" data-nav-section="home">Home</a></li>
                        <li><a href="#" data-nav-section="about">About</a></li>
                        <li><a href="#" data-nav-section="crew">Crew</a></li>
                        <li><a href="#" data-nav-section="casting">Casting</a></li>
                        <li><a href="#" data-nav-section="videos">Videos</a></li>
                        <li><a href="#" data-nav-section="photos">Photos</a></li>
                        <li><a href="#" data-nav-section="subscribe">Subscribe</a></li>
                        <li><a href="#" data-nav-section="social">Social updates</a></li>
                        <li><a href="#" data-nav-section="partners">Partners</a></li>
                    </ul>
                </div>
                <div class="text-center">
                    <ul class="footer-social">
                        <li><a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a></li>
                        <li><a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a></li>
                        <li><a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a></li>
                        <li><a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a></li>
                    </ul>
                    <p>Copyright 2018. All Rights Reserved. <br>Made with <i class="fa fa-heart"></i> by <a href="https://www.linkedin.com/in/shevchenko-vlad/" target="_blank">Shevchenko Vlad</a></p>
                </div>
                <div class="go-top">
                    <a href="#" data-nav-section="home" title="Back to Top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>
		</footer>

    </div> <!-- end page -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>




    <!-- Java Script
    ================================================== -->
    <!-- jQuery -->
	<script src="/static/casting/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/casting/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/casting/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/casting/js/jquery.waypoints.min.js"></script>

    <script src="/static/casting/js/plugins.js"></script>
    <script src="/static/casting/js/main.js"></script>
    <script src="/static/casting/js/nav.js"></script>
    <script src="/static/casting/js/swiper.min.js"></script>
    <script async src="/static/casting/js/twitter.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>

    <script>
        var swiperVideo = new Swiper('.video-cont.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            navigation: {
                nextEl: '.video-next.swiper-button-next',
                prevEl: '.video-prev.swiper-button-prev'
            }
        });
        var swiperPhoto = new Swiper('.photo-cont.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true
            },
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            navigation: {
                nextEl: '.photo-next.swiper-button-next',
                prevEl: '.photo-prev.swiper-button-prev'
            }
        })
    </script>

</body>

</html>