<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Casting</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/casting/css/base.css">
    <link rel="stylesheet" href="/static/casting/css/vendor.css">
    <link rel="stylesheet" href="/static/casting/css/main.css">
    <link rel="stylesheet" href="/static/casting/css/nav.css">
    <link rel="stylesheet" href="/static/casting/css/animate.min.css">

    <!-- script
    ================================================== -->
    <!-- Modernizr JS -->
	<script src="/static/casting/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/static/casting/js/respond.min.js"></script>
	<![endif]-->

    <script src="/static/casting/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">



</head>

<body>

    <div id="page">

        <!-- header
        ================================================== -->
        <header class="s-header">
            <nav class="cast-nav" role="navigation">
                <!-- <div class="top-menu"> -->
                    <div class="container">
                        <div class="row">
                            <div class="text-center menu-1 menu-wrap">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#" data-nav-section="home">Home</a></li>
                                    <li><a href="#" data-nav-section="about">About</a></li>
                                    <li><a href="#" data-nav-section="crew">Crew</a></li>
                                    <li><a href="#" data-nav-section="casting">Casting</a></li>
                                    <li><a href="#" data-nav-section="videos">Videos</a></li>
                                    <li><a href="#" data-nav-section="photos">Photos</a></li>
                                    <li><a href="#" data-nav-section="sign_up">Sign up</a></li>
                                    <li><a href="#" data-nav-section="social">Social updates</a></li>
                                    <li><a href="#" data-nav-section="partners">Partners</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </nav>
        </header>

        <!-- home
        ================================================== -->
        <div data-section="home">
            <section class="s-home target-section" data-parallax="scroll" data-image-src="/static/casting/img/home_bg.jpg" data-position-y=top>

                <div class="overlay"></div>
                <div class="shadow-overlay"></div>

                <div class="home-content">
                    <div class="home-buttons">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 home-casting">
                                    <div class="home-content__buttons">
                                        <a href="#" data-nav-section="casting" class="btn btn--stroke">
                                            Go to the casting
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-3 home-news">
                                    <div class="home-content__buttons">
                                        <a href="#" data-nav-section="social" class="btn btn--stroke">
                                            News
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home-content__scroll">
                        <a href="#" data-nav-section="about">
                            <span>Scroll Down</span>
                        </a>
                    </div>

                    <div class="home-content__line"></div>

                </div> <!-- end home-content -->


                <ul class="home-social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                    </li>
                </ul>
                <!-- end home-social -->

            </section> <!-- end s-home -->
        </div>


        <!-- about
        ================================================== -->
        <div data-section="about">
            <section class="s-about">

                <div class="overlay"></div>
                <div class="shadow-overlay"></div>

                <div class="about-title container" data-aos="fade-up">
                    <div class="section-header">
                        <div class="col-full">
                            <p>MOVIE AUDITIONS & CASTING</p>
                        </div>
                    </div> <!-- end section-header -->
                </div>

                <div class="about-info container" data-aos="fade-up">
                    <div class="row__divide-3">
                        <div class="about-poster">
                            <img src="/static/casting/img/home_bg.jpg" alt="">
                        </div>

                        <div class="about-desc">
                            <div class="col-full">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas lacus et arcu ultrices, ac mattis metus bibendum. Integer et lacus nec dui condimentum sodales. Aenean venenatis nisl vitae varius fermentum. Phasellus sapien neque, blandit a blandit quis, sagittis eget orci. Vivamus interdum non urna quis eleifend. Duis egestas, tortor venenatis lobortis luctus, est neque tincidunt est, ac auctor massa massa ac eros. Curabitur vel accumsan tellus. Aenean sapien nisi, molestie pellentesque nisi id, aliquam laoreet neque.
                                </p>
                                <p>
                                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus eu massa turpis. Vestibulum semper odio ut vestibulum dignissim. Etiam eleifend, elit quis pharetra sodales, massa mauris ultrices lorem, quis aliquam mauris mauris eu urna. Ut vel lectus quis erat luctus efficitur. Donec semper risus sit amet tempor cursus. Nunc velit leo, rhoncus a turpis a, pulvinar auctor lacus. Quisque nulla ligula, ullamcorper at nulla sed, imperdiet luctus neque. Vivamus hendrerit orci sit amet malesuada mattis. Mauris placerat eleifend tellus et sollicitudin. Praesent vestibulum, quam in vestibulum rutrum, nisl tortor vehicula dolor, ac fermentum odio est non lectus. Sed auctor ex a varius aliquam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="about__line"></div>

            </section> <!-- end s-about -->
        </div>

        <!-- crew
        ================================================== -->
        <div data-section="crew">
            <section class="s-crew">

                <div class="container section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead">Our crew</h3>
                        <h1 class="display-2">We work only with highly qualified crew</h1>
                    </div>
                </div> <!-- end section-header -->

                <div class="crew-list block-1-2 block-tab-full">
                    <div class="crew-item" data-aos="fade-up">
                        <div class="crew-image">
                           <img src="/static/casting/img/home_bg.jpg" alt="">
                        </div>
                        <div class="crew-text">
                            <div class="crew-position">Name</div>
                            <div class="crew-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas lacus et arcu ultrices, ac mattis metus bibendum. Phasellus sapien neque, blandit a blandit quis, sagittis eget orci.
                            </div>
                        </div>
                    </div>
                    <div class="crew-item" data-aos="fade-up">
                        <div class="crew-image">
                           <img src="/static/casting/img/home_bg.jpg" alt="">
                        </div>
                        <div class="crew-text">
                            <div class="crew-position">Name</div>
                            <div class="crew-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas lacus et arcu ultrices, ac mattis metus bibendum. Phasellus sapien neque, blandit a blandit quis, sagittis eget orci.
                            </div>
                        </div>
                    </div>
                    <div class="crew-item" data-aos="fade-up">
                        <div class="crew-image">
                           <img src="/static/casting/img/home_bg.jpg" alt="">
                        </div>
                        <div class="crew-text">
                            <div class="crew-position">Name</div>
                            <div class="crew-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas lacus et arcu ultrices, ac mattis metus bibendum. Phasellus sapien neque, blandit a blandit quis, sagittis eget orci.
                            </div>
                        </div>
                    </div>
                </div> <!-- end crew-list -->

            </section> <!-- end s-crew -->
        </div>

        <!-- casting
        ================================================== -->
        <div data-section="casting">
            <section class="s-casting" data-parallax="scroll" data-image-src="/static/casting/img/hero-bg.jpg" data-position-y=top>

                <div class="overlay"></div>
                <div class="intro-wrap">

                    <div class="container section-header" data-aos="fade-up">
                        <div class="col-full">
                            <h1 class="display-2 display-2--light">Sign up for the casting</h1>
                        </div>
                    </div>

                    <div class="casting-content" data-aos="fade-up">

                        <div class="casting-contact">

                            <h3 class="h6">Sign up form</h3>

                            <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                                <fieldset>
                                    <div class="casting-row">
                                        <div class="form-field">
                                            <input name="first_name" type="text" id="first_name" placeholder="Your First Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                                        </div>
                                        <div class="form-field">
                                            <input name="second_name" type="text" id="second_name" placeholder="Your Second Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                                        </div>
                                    </div>
                                    <div class="casting-row">
                                        <div class="form-field">
                                            <input name="email" type="email" id="email" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                                        </div>
                                        <div class="form-field">
                                            <input name="phone" type="text" id="phone" placeholder="Your Phone Number" value="" required="" aria-required="true" class="full-width">
                                        </div>
                                    </div>
                                    <div class="casting-row">
                                        <div class="form-field">
                                            <input name="age" type="number" min="16" max="70" id="age" placeholder="Your Age" value="" class="full-width">
                                        </div>
                                        <div class="form-field">
                                            <input name="city" type="text" id="city" placeholder="Your City" value="" required="" aria-required="true" class="full-width">
                                        </div>
                                    </div>
                                    <div class="casting-row-group">
                                        <div class="form-field">
                                            <input name="gender" type="radio" id="male" value="male" required="" aria-required="true" checked> Male<br>
                                        </div>
                                        <div class="form-field">
                                            <input name="gender" type="radio" id="female" value="female" required="" aria-required="true"> Female<br>
                                        </div>
                                    </div>
                                    <div class="casting-row-group">
                                        <div class="form-field">
                                            <input name="prof" type="radio" id="amateur" value="amateur" required="" aria-required="true" checked> Amateur<br>
                                        </div>
                                        <div class="form-field">
                                            <input name="prof" type="radio" id="professional" value="professional" required="" aria-required="true"> Professional<br>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <textarea name="experience" id="experience" placeholder="Your Experience" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                                    </div>
                                    <div class="casting-row-group">
                                        <div class="form-field">
                                            <input name="grouping" type="checkbox" id="grouping" value="grouping" required="" aria-required="true" checked> Grouping<br>
                                        </div>
                                        <div class="form-field">
                                            <input name="crowd_scene" type="checkbox" id="crowd_scene" value="crowd_scene" required="" aria-required="true"> Professional<br>
                                        </div>
                                    </div>
                                    <div class="form-field">
                                        <textarea name="about_info" id="about_info" placeholder="About you" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                                    </div>
                                    <div class="form-field">
                                        <p class="full-width">Your Photo</p>
                                        <input name="contact_image" type="file" id="contact_image" accept="image/*" value="" required="" aria-required="true" class="full-width">
                                    </div>
                                    <div class="form-field">
                                        <input name="video_url" type="url" id="video_url" placeholder="Url On Your Video" value="" required="" aria-required="true" class="full-width">
                                    </div>
                                    <div class="form-field">
                                        <button class="full-width btn--primary">Submit</button>
                                        <div class="submit-loader">
                                            <div class="text-loader">Sending...</div>
                                            <div class="s-loader">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </form>

                            <!-- casting-warning -->
                            <div class="message-warning">
                                Something went wrong. Please try again.
                            </div>

                            <!-- casting-success -->
                            <div class="message-success">
                                Your message was sent, thank you!<br>
                            </div>

                        </div> <!-- end casting-primary -->

                        <div class="casting-table">
                            <div class="contact-info">

                                <h3 class="h6 hide-on-fullwidth">List users who've already signed up</h3>



                            </div> <!-- end casting-info -->
                        </div> <!-- end casting-secondary -->

                    </div> <!-- end casting-content -->

                </div>
            </section> <!-- end s-casting -->
        </div>

        <!-- videos
        ================================================== -->
        <div data-section="videos">
            <section class="s-videos">

                <div class="intro-wrap">

                    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                        <div class="col-full">
                            <h3 class="subhead">Videos</h3>
                            <h1 class="display-2">We love what we do, check out some of our videos</h1>
                        </div>
                    </div> <!-- end section-header -->

                   <div class="row block-tab-full">
                        <div class="col-block crew-item" data-aos="fade-up">
                            <iframe src="https://www.youtube.com/embed/qylb0dvPOf8" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <div class="col-block crew-item" data-aos="fade-up">
                            <iframe src="https://www.youtube.com/embed/_jukWyDbWE0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <div class="col-block crew-item" data-aos="fade-up">
                            <iframe src="https://www.youtube.com/embed/oUWx3ZSjaRw" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div> <!-- end intro-wrap -->

            </section> <!-- end s-videos -->
        </div>

        <!-- photos
        ================================================== -->
        <div data-section="photos">
            <section class="s-works">

                <div class="intro-wrap">

                    <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                        <div class="col-full">
                            <h3 class="subhead">Photos</h3>
                            <h1 class="display-2 display-2--light">We love what we do, check out some of our photos</h1>
                        </div>
                    </div> <!-- end section-header -->

                </div> <!-- end intro-wrap -->

                <div class="row works-content">
                    <div class="col-full masonry-wrap">
                        <div class="masonry">

                            <div class="masonry__brick" data-aos="fade-up">
                                <div class="item-folio">

                                    <div class="item-folio__thumb">
                                        <a href="/static/casting/img/poster.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                            <img src="/static/casting/img/poster.jpg"
                                                 srcset="/static/casting/img/poster.jpg 1x, /static/casting/img/poster.jpg 2x" alt="">
                                        </a>
                                    </div>

                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            Casting
                                        </h3>
                                        <p class="item-folio__cat">
                                            Casting
                                        </p>
                                    </div>

                                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                        <i class="icon-link"></i>
                                    </a>

                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>

                                </div>
                            </div> <!-- end masonry__brick -->

                            <div class="masonry__brick" data-aos="fade-up">
                                <div class="item-folio">

                                    <div class="item-folio__thumb">
                                        <a href="/static/casting/img/poster.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                            <img src="/static/casting/img/poster.jpg"
                                                 srcset="/static/casting/img/poster.jpg 1x, /static/casting/img/poster.jpg 2x" alt="">
                                        </a>
                                    </div>

                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            Casting
                                        </h3>
                                        <p class="item-folio__cat">
                                            Casting
                                        </p>
                                    </div>

                                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                        <i class="icon-link"></i>
                                    </a>

                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>

                                </div>
                            </div> <!-- end masonry__brick -->

                            <div class="masonry__brick" data-aos="fade-up">
                                <div class="item-folio">

                                    <div class="item-folio__thumb">
                                        <a href="/static/casting/img/poster.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                            <img src="/static/casting/img/poster.jpg"
                                                 srcset="/static/casting/img/poster.jpg 1x, /static/casting/img/poster.jpg 2x" alt="">
                                        </a>
                                    </div>

                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            Casting
                                        </h3>
                                        <p class="item-folio__cat">
                                            Casting
                                        </p>
                                    </div>

                                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                        <i class="icon-link"></i>
                                    </a>

                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>

                                </div>
                            </div> <!-- end masonry__brick -->

                            <div class="masonry__brick" data-aos="fade-up">
                                <div class="item-folio">

                                    <div class="item-folio__thumb">
                                        <a href="/static/casting/img/poster.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                            <img src="/static/casting/img/poster.jpg"
                                                 srcset="/static/casting/img/poster.jpg 1x, /static/casting/img/poster.jpg 2x" alt="">
                                        </a>
                                    </div>

                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            Casting
                                        </h3>
                                        <p class="item-folio__cat">
                                            Casting
                                        </p>
                                    </div>

                                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                        <i class="icon-link"></i>
                                    </a>

                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>

                                </div>
                            </div> <!-- end masonry__brick -->

                            <div class="masonry__brick" data-aos="fade-up">
                                <div class="item-folio">

                                    <div class="item-folio__thumb">
                                        <a href="/static/casting/img/poster.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                            <img src="/static/casting/img/poster.jpg"
                                                 srcset="/static/casting/img/poster.jpg 1x, /static/casting/img/poster.jpg 2x" alt="">
                                        </a>
                                    </div>

                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            Casting
                                        </h3>
                                        <p class="item-folio__cat">
                                            Casting
                                        </p>
                                    </div>

                                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                        <i class="icon-link"></i>
                                    </a>

                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>

                                </div>
                            </div> <!-- end masonry__brick -->

                            <div class="masonry__brick" data-aos="fade-up">
                                <div class="item-folio">

                                    <div class="item-folio__thumb">
                                        <a href="/static/casting/img/poster.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                            <img src="/static/casting/img/poster.jpg"
                                                 srcset="/static/casting/img/poster.jpg 1x, /static/casting/img/poster.jpg 2x" alt="">
                                        </a>
                                    </div>

                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            Casting
                                        </h3>
                                        <p class="item-folio__cat">
                                            Casting
                                        </p>
                                    </div>

                                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                        <i class="icon-link"></i>
                                    </a>

                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>

                                </div>
                            </div> <!-- end masonry__brick -->

                        </div> <!-- end masonry -->
                    </div> <!-- end col-full -->
                </div> <!-- end photos-content -->

            </section> <!-- end s-photos -->
        </div>

        <!-- signup
        ================================================== -->
        <div data-section="sign_up">
            <section class="s-contact">

                <div class="row section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead">Sign up</h3>
                        <h1 class="display-2 display-2--light">Subscribe us</h1>
                    </div>
                </div> <!-- end section-header -->


                <div class="row clients-outer" data-aos="fade-up">

                    <div class="col-full">

                        <p>Quia quo qui sed odit. Quaerat voluptas autem necessitatibus vitae aut non alias sed quia. Ut itaque enim optio ut excepturi deserunt iusto porro.</p>
                        <div class="footer-subscribe">
                            <div class="subscribe-form">
                                <form id="mc-form" class="group" novalidate="true">
                                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                                    <input type="button" name="subscribe" value="Subscribe">
                                    <label for="mc-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                    </div>

                </div> <!-- end footer-main -->

            </section> <!-- end s-signup -->
        </div>

        <!-- social updates
        ================================================== -->
        <div data-section="social">
            <section class="s-about">

                <div class="row section-header has-bottom-sep" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead subhead--dark">Social updates</h3>
                    </div>
                </div> <!-- end section-header -->

                <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full">
                    <div class="col-block" data-aos="fade-up">
                        <blockquote class="twitter-tweet" data-lang="ru"><p lang="en" dir="ltr">Hands up if the villainous Lord Nooth is your favourite <a href="https://twitter.com/hashtag/EarlyMan?src=hash&amp;ref_src=twsrc%5Etfw">#EarlyMan</a> character! 🙋 If you have&#39;t met him yet, here&#39;s Tom Hiddleston (the voice of Nooth) to introduce you… <a href="https://t.co/vApWNnqVld">pic.twitter.com/vApWNnqVld</a></p>&mdash; Early Man (@earlymanmovie) <a href="https://twitter.com/earlymanmovie/status/967733175064576005?ref_src=twsrc%5Etfw">25 февраля 2018 г.</a></blockquote>
                    </div>
                    <div class="col-block" data-aos="fade-up">
                        <blockquote class="twitter-tweet" data-lang="ru"><p lang="cs" dir="ltr">Т​​⁣o​‍‌ ​‍‌ｓ​‌⁢ｕ​‌⁡r​‌⁢v​‍­i​​⁣ⅴ​‍⁤e​‌⁢,​‍‍ ​‍‌ｔ‍⁡ｈ​‌⁢ｅ​‍⁣y‍⁡ ​‌⁡ｍ​‌‌u​‍⁢s​‌‌ｔ fighｔ <a href="https://twitter.com/hashtag/WhatsInside?src=hash&amp;ref_src=twsrc%5Etfw">#WhatsInside</a>． Get ｔｉϲｋｅｔｓ: <a href="https://t.co/oPDAK5GXMD">https://t.co/oPDAK5GXMD</a> <a href="https://t.co/6eFgFxSmdk">pic.twitter.com/6eFgFxSmdk</a></p>&mdash; Annihilation (@AnnihilationMov) <a href="https://twitter.com/AnnihilationMov/status/967051447392116736?ref_src=twsrc%5Etfw">23 февраля 2018 г.</a></blockquote>
                    </div>
                    <div class="col-block" data-aos="fade-up">
                        <blockquote class="twitter-tweet" data-lang="ru"><p lang="en" dir="ltr">Ｉ​​⁣ｎ​‍⁢ ​‌‌ｔ‍⁡w​⁠⁠o​‍‍ ​⁠­d‍⁡a​‍⁢ｙ​‌‌ｓ​​⁣，​‌​ ​⁠⁠w⁣­e faｃｅ <a href="https://twitter.com/hashtag/Annihilation?src=hash&amp;ref_src=twsrc%5Etfw">#Annihilation</a>． Ｇｅt ｔⅰϲkｅｔｓ：<a href="https://t.co/oPDAK5GXMD">https://t.co/oPDAK5GXMD</a> <a href="https://twitter.com/hashtag/WhatsInside?src=hash&amp;ref_src=twsrc%5Etfw">#WhatsInside</a> <a href="https://t.co/RUqmHfanQ9">pic.twitter.com/RUqmHfanQ9</a></p>&mdash; Annihilation (@AnnihilationMov) <a href="https://twitter.com/AnnihilationMov/status/966408129700249600?ref_src=twsrc%5Etfw">21 февраля 2018 г.</a></blockquote>
                    </div>
                    <div class="col-block" data-aos="fade-up">
                        <blockquote class="twitter-tweet" data-lang="ru"><p lang="und" dir="ltr">⚡️ “<a href="https://twitter.com/hashtag/TombRaider?src=hash&amp;ref_src=twsrc%5Etfw">#TombRaider</a>&#39;s Alicia Vikander describes Lara Croft in 3 words” <a href="https://twitter.com/TombRaiderMovie?ref_src=twsrc%5Etfw">@TombRaiderMovie</a><a href="https://t.co/b9jWcnKoEA">https://t.co/b9jWcnKoEA</a></p>&mdash; GameSpot (@gamespot) <a href="https://twitter.com/gamespot/status/967319476411580416?ref_src=twsrc%5Etfw">24 февраля 2018 г.</a></blockquote>
                    </div>
                </div>

            </section> <!-- end s-about -->
        </div>

        <!-- partners
        ================================================== -->
        <div data-section="partners">
            <section class="s-clients">

                <div class="row section-header" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead">Our Partners</h3>
                        <h1 class="display-2">We are glad to cooperate with all worthy companies.</h1>
                    </div>
                </div> <!-- end section-header -->

                <div class="row clients-outer" data-aos="fade-up">
                    <div class="col-full">
                        <div class="clients">

                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/apple.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/atom.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/blackberry.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/dropbox.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/envato.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/firefox.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/joomla.png" /></a>
                            <a href="#0" title="" class="clients__slide"><img src="/static/casting/img/clients/magento.png" /></a>

                        </div> <!-- end partners -->
                    </div> <!-- end col-full -->
                </div> <!-- end clients-outer -->

            </section> <!-- end s-partners -->
        </div>


        <!-- footer
        ================================================== -->
        <footer>

            <div class="row footer-bottom">

                <div class="col-twelve">
                    <div class="copyright">
                        <span>© Copyright 2018</span>
                        <span>Site Created by <a href="https://www.linkedin.com/in/shevchenko-vlad/">Shevchenko Vlad</a></span>
                    </div>

                    <div class="go-top">
                        <a href="#" data-nav-section="home" title="Back to Top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div> <!-- end footer-bottom -->

        </footer> <!-- end footer -->

    </div> <!-- end page -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>




    <!-- Java Script
    ================================================== -->
    <!-- jQuery -->
	<script src="/static/casting/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/casting/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/casting/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/casting/js/jquery.waypoints.min.js"></script>

    <script src="/static/casting/js/plugins.js"></script>
    <script src="/static/casting/js/main.js"></script>
    <script src="/static/casting/js/nav.js"></script>

    <script async src="/static/casting/js/twitter.js"></script>

</body>

</html>